body{
  font-family: Arial, sans-serif;
  width:90%;
  margin: auto;
  background-color: lightgrey;
  }


/* HEADER */
header>div{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  border-left: 4px solid #e1951f; /* gold */
  border-right: 4px solid #e1951f; /* gold */
  border-bottom: 4px solid #e1951f; /* gold */
}

header div div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div div:first-child img {
  height: 100px;
  width: 100px;
}

header div div:first-child h1{
    font-variant:small-caps;
  	text-align:center;
    font-weight: bold;
    color: #e1951f; /* gold */
    /* margin: 0px;
    padding: 0px; */
  }

header div div:nth-child(2) input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

  header div div:nth-child(2) button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

header div div:nth-child(2) button {
  background: #ccc;
}


header div div:nth-child(2) img {
  height: 17px;
  width: 17px;
}

header div div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div div:last-child img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

header nav ul {
    padding:0;
    display: flex;
  	flex-flow : row wrap;
  	justify-content: center; /*alignement centre dans l’axe de lecture principal*/
  }

  ul li{
    	list-style-type:none;
    }

  ul li a{
    	text-decoration:none;
      background-color:  #e1951f; /* gold */
      color: white;
    	border: 1px solid white;
      margin-left: -1px; /* pour enlever la double bordure*/
    	padding:0.5em;
    	display: inline-block;
    }

    ul li a:hover{
      	text-decoration:none;
        background-color: #a2230f; /* gold */
        color: white;
      	border: 1px solid white;
        margin-left: -1px; /* pour enlever la double bordure*/
      	padding:0.5em;
      	display: inline-block;
      }



/* BODY */

#MAIN_CONTAINER img {
  height: 300px;
  width: 215px;
}

#MAIN_CONTAINER {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#MAIN_CONTAINER article {
  margin: 5px 10px;
  padding: 5px 5px;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: grey;
}

#MAIN_CONTAINER article h3 {
    font-size: 80%;
    max-width: 215px;
    text-align: center;
}

#MAIN_CONTAINER article p {
    font-size: 80%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

#MAIN_CONTAINER article form {
    font-size: 80%;
    text-align: center;
    margin-top: 0px;
}

#ERREUR {
  color: red;
}

/* FOOTER */


footer {
  background-color: grey;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
  height: 100px;

  border-top: 4px solid #e1951f; /* gold */
  border-left: 4px solid #e1951f; /* gold */
  border-right: 4px solid #e1951f; /* gold */
  border-bottom: 4px solid #e1951f; /* gold */
}

footer img {

  height: 100px;
  width: 100px;
  margin-top: 2px;
}
